/* https://www.shopify.com/about */
/* https://kinsta.com/pt/sobre-nos/ */
/* https://www.canva.com/colors/color-palettes/crystal-feline/ */
/* https://pesquisar.unb.br/sobre */
/* https://www.w3schools.com/howto/howto_css_dropdown.asp */
/* https://cdnjs.com/libraries?q=font-awesome */
/* https://fontawesome.com/search?q=github&o=r */

a{
    color: #123c75;
}

body {
    padding: 0;
    margin: 0; 
    background-color: #f5f8ff; /*f5f8ff*/
    font-size: 1em;
    line-height: 1.5;
    font-family: "Poppins", sans-serif; 
}

main {
    margin-left: auto;
    margin-right: auto;
    /* position: relative; */
    /* border: 0 solid #e5e7eb; */
}

.what-section, .how-section, .action-section{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color: #c0c2c9;
    flex: 1;
    /* margin-inline: auto; */
    padding-top: 6em;
    padding-bottom: 6em;
    padding-inline: 2.5em;
    /* max-width: 84rem; */
}

.consulta-dropdown {
    /* background-color: inherit; */
    position: relative;
    display: inline-block;
    /* border-radius: 10px; */
}

.consulta-button {
    padding: 16px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    
    background-color: #f5f8ff;
    font-size: 1em;
    font-family: inherit;
}

.consulta-content {
    display: none;
    position: absolute;
    right: 19px;
    top: 60px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.consulta-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.consulta-dropdown:hover .consulta-button{background-color: #3e8e41;}

.consulta-dropdown:hover .consulta-content{
    display: block;
}

.consulta-content a:hover {background-color: #d0d0d0;}


.action-section {
    background-color: #5298c1;
}

.how-section {
    background-color: inherit;
}


.what-div, .how-div, .action-div{
    /* overflow: auto; */
    background-color: inherit;
}

.what-div, .action-div {
    display: flex;
    align-items: center;
    padding-bottom: 0;
    padding-top: 0;
    max-width: 43.75em;
    position: relative;
    float: left;
}

.what-text h1, .how-text h1, .action-text h1 {
    margin-bottom: 16px;
    background-color: inherit;
    font-size: 72px;
    font-weight: 400;
}

.what-text p, .action-text p {
    /* text-align: justify; */
    padding: 2px;
}

.what-image {
    margin-top: 0;
    max-width: 50em;
    /* flex-grow: 1; */
    margin-left: auto;
    /* float: right; */
    padding: 50px;
}

.span-what-image {
    margin-bottom: 0;
    margin-top: auto;
    margin-right: 0;
    display: block;
    overflow: auto;
    box-sizing: content-box;
    width: 100%;
    margin: auto;
}

@media screen and (min-width: 46.875em) {
    .what-div {
        width: 50%;
    }
}

@media screen and (min-width: 67.5em) {
    .what-div {
        padding-left: 18px;
        padding-right: 18px;
    }
}